extends ../views/layout

block content

  .container
    article.post.block
      h1.title #{post.title}
      .meta
        span #{moment(post.create).format("YY-MM-DD")}
      .markdown
        | !{post.html}
    ul.comments.block
      each c, i in post.comments
        li
          span.floor #{i}
          .left
            img(src="#{c.avatar}")
          .content
            span.name
              if(c.site)
                a(href="#{c.site}") #{c.author}
              else
                | #{c.author}
            span.time #{moment(c.date).fromNow()}
            span.reply
              a(href="javascript:void(0)") 
                span.ds-ui-icon.ds-ui-reply
                span 回复
            .markdown
              | !{marked(c.body)}
    .comment-container
      img(class="avatar", width="48", height="48", src="https://secure.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?s=48&r=pg&d=mm")
      form#upload.hidden(action="/uploadimg", method="post", enctype="multipart/form-data")
        input#fileselect.hidden(type="file", name="filename", multiple="multiple", accept="image/*")
      form#comment(class="comment-form clearfix", action="/comment/#{post.id}", method="post")
        .content-bubble
          .bubble-inner
            .tabnav.clearfix
              ul.tabs.left
                li.active(onclick="showComment()") 评论
                li(onclick="showPreview()") 预览
              span.right
                | 评论通过
                a(href="http://github.github.com/github-flavored-markdown/") GitHub Flavored Markdown
                | 进行转换
            #dropbox.write-content
              textarea(name="body", tabindex="1")
                | 
              .drag-drop
                | 将文件拖动到此处上传，或者
                a#fileupload 选择上传文件
              #messages.error
              #progress
              .info.hidden
                .social-login
                  span 使用社交帐号登陆
                  span
                    a(class="weibo", href="/login/weibo", rel="nofollow") 微博
                    a(class="qq", href="/login/qq", rel="nofollow") qq
                .control-group
                  label(for="c_name") 大名
                  input(id="c_name", type="text", placeholder="姓名", name="author", tabindex="2", required="required")
                  span.hint (必填)
                .control-group
                  label(for="c_email") 邮箱
                  input(id="c_email", type="email", placeholder="邮箱", name="email", tabindex="4")
                .control-group
                  label(for="c_site") 主页
                  input(id="c_site", type="url", placeholder="主页", name="site", tabindex="5")
            .preview.hidden
              .markdown
        .form-actions
          button#submit.btn.primary(type="submit", tabindex="6") 评论

  script(type="text/javascript", src="/js/lib/jquery-2.0.0.min.js")
  script(type="text/javascript", src="/js/lib/highlight.pack.js")
  script(type="text/javascript", src="/js/lib/marked.js")
  script(type="text/javascript", src="/js/lib/jquery.form.js")
  script(type="text/javascript", src="/js/filedrag.js")
  script(type="text/javascript")
    //switch preview and comment
    $('#comment .tabs').on('click', 'li', function(){
      $(this).addClass('active').siblings('li').removeClass('active');
    });
    var textarea = $('#comment textarea');
    var info = $('#comment .info');
    var preview = $('#comment .preview')
    function showComment(){
      $('#comment .write-content').show().next('.preview').hide();
    }
    function showPreview(){
      preview.show().prev('.write-content').hide();
      var source = textarea.val();
      preview.find('.markdown').html(marked(source));
    }
    //delegate focus of textarea
    textarea.on('focus', function(){
      $(this).parent().addClass('focus');
      info.show();
    });
    textarea.on('blur', function(){
      $(this).parent().removeClass('focus');
    });
    //reply
    $('.comments').on('click', '.reply', function(){
      var name = $(this).parents('li').find('.name').html();
      name = name.replace(/<[^>]*?>/g, '');
      var val = textarea.val();
      textarea.focus();
      textarea.val(val + '@' + name + ' ');
      textarea[0].scrollIntoView();
    });
    //auto height of textarea
    textarea.on('keyup', function(){
      var h = $(this).height();
      $(this).height(h + $(this).scrollTop());
    });
    //form submit
    $('#submit').on('click', function(){
      info.show();
    });
    $('#comment').ajaxForm({
      beforeSubmit: function(arr, $form, options){
      },
      success: function(data){
        if(data.success === true){
          window.location.reload();
        }
        if (data.success === false && data.error ) {
          return $('#messages').html(data.error.toString()).slideDown();
        }
      }
    });
