<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
 
 <title><%= site.title %></title>
 <link href="<%= site.url %>"/>
 <link href="<%= site.url %>/atom" rel="self" type="application/xml"/>
 <language>zh-CN</language>
 <updated><%= moment().format() %></updated>
 <id><%= site.url %></id>
 <author>
   <name><%= site.author.name %></name>
   <email><%= site.author.email %></email>
 </author>

 <% posts.forEach(function(post){ %>
 <entry>
   <id><%= site.url %>/v/<%= post.number %></id>
   <title><%= post.title %></title>
   <link type="text/html" href="<%= site.url %>/v/<%= post.number %>"/>
   <updated><%= moment(post.update).format() %></updated>
   <content type="html"><%= marked(post.content) %></content>
 </entry>
 <% }) %>
 
</feed>
